// Variables
$white: #FFFFFF;
$black: #1C1C1C;
$blue: #6696E2;
$darksalmon: #E27866;
$grey: #86878B;
$greyshadow: #00000061;
$greyshadowlighter: #D8D8D8;
$greylighter: #F5F5F5;
$greenlight: #41D395;
$blackdim: rgba(0, 0, 0, 0.63);
$colorMountains: linear-gradient(270deg, rgba(102, 150, 226, 0.42) 0%, rgba(226, 120, 102, 0.42) 100%) 0% 0% no-repeat padding-box;
